<<<<<<< HEAD
=======

// img
// {
//    float:left;
//    padding-left : 2px;
//    left:5px;
//    top:1px;
//    width: 60px;
//    height:60px;
// }

>>>>>>> c92dfbd061ed33bac7b6b361a6e17567473f5c4f
.demo-panel {
   margin: 20px 0px;
}

<<<<<<< HEAD
// mat-chip {
//    cursor: pointer;
// }
=======
mat-chip {
   cursor: pointer;
}
>>>>>>> c92dfbd061ed33bac7b6b361a6e17567473f5c4f

.mat-menu-panel {
   overflow-x: hidden;
}