<!-- <mat-menu #menu="matMenu">
  
  <button mat-button [matMenuTriggerFor]="menu"><img src="../assets/q2.png"></button>
  <ol>
    <li><a [routerLink]="[ '/profileuser']">User</a></li>
    <li><a [routerLink]="[ '/gamehistory']">Gamehistory</a></li>
  </ol>
 <button mat-menu-item mat-raised-button (click)="openDialog()">User Account</button>
  <button mat-menu-item>Game History</button>
</mat-menu> -->

<!-- <mat-card class="demo-panel">

<mat-card-content> -->
  
    
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item  (click)="openDetails()">Account</button> 
      <button mat-menu-item  (click)="openHistory()">History</button> 
      
    </mat-menu>
    <!-- <mat-menu #menu="matMenu">
      <mat-chip-list  >
        <mat-chip color="warn" class="navLinks" [routerLink]="['/profileuser']" >Account</mat-chip>
      </mat-chip-list>
      <mat-chip-list>
        <mat-chip color="warn" class="navLinks" [routerLink]="['/gamehistory']">Game History</mat-chip>
      </mat-chip-list>
    </mat-menu> -->
    <!-- </mat-card-content> -->
  

<!-- 
  <ng-template>
    <app-profileuser></app-profileuser>
  </ng-template> -->