<header>
  <h1>Quizify</h1>
  <img src="../assets/q2.png">

 </header>
 <div class="container">
    <mat-card class="example-card">    
      <img mat-card-image src="../assets/qq12.jpg" alt="1">  
        <mat-card-actions>
        
         <button mat-button>Play Again</button>
         <button mat-button>Details</button>  
          </mat-card-actions>
     </mat-card>
    <mat-card class="example-card">      
        <img mat-card-image src="../assets/qq2.png" alt="2">       
          <mat-card-actions>
             <button mat-button>Play Again</button>
             <button mat-button>Details</button>       
             </mat-card-actions>
         </mat-card>

    <mat-card class="example-card">      
          <img mat-card-image src="../assets/qq3.png" alt="3">       
              <mat-card-actions>
                 <button mat-button>Play Again</button>
                 <button mat-button>Details</button>       
                 </mat-card-actions>
             </mat-card>
         
</div>