header h1{
    padding-top: 20px;
    text-align: center;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header{
    z-index: 1;
    width: 100%;
    background-color:black;
    position: fixed;
    height: 120px;
    top:0%;
    left: 0%;
  }