<app-header></app-header>

<div class="container">
<div *ngFor="let q of quiz">
  <mat-card class="example-card">
    <img mat-card-image src="{{ q.image_Url }}" alt="Photo " />
    <div class="overlay">
      <div class="text">
        <ul >
          <li>{{ q.GameId }}</li>
          <li>{{ q.Name }}</li>
          <img class="sub-image" src="{{ q.image_Url }}" />
        </ul>
      </div>
    </div>
  </mat-card>
  <mat-card-actions>
      <i class="material-icons" >
        favorite play_arrow settings
      </i>
    </mat-card-actions>
</div>
</div>