
<app-game></app-game>

<!-- <app-cards></app-cards>
<app-search></app-search> -->
<!-- <app-cards></app-cards> -->

<!-- <app-profile></app-profile> -->
<!-- <app-header></app-header> -->
<app-register></app-register>
<!-- <app-cards></app-cards>
<app-register></app-register> -->
<!-- <div>
<app-profile></app-profile>
</div> -->
<!-- <app-gamehistory></app-gamehistory> -->
<app-cards></app-cards>
<app-search></app-search> -->

<!-- <app-profile></app-profile> -->
<router-outlet></router-outlet>
<app-register></app-register>