
<section id="Heading">
  <mat-chip-list fxLayout="row" fxLayoutAlign="center center">
    <mat-chip color="primary" selected class="headings">{{
      category.name
    }}</mat-chip>
    <i class="material-icons">arrow_forward_ios</i>
    <mat-chip color="accent" selected class="headings">{{
      currentTopic.name
    }}</mat-chip>
  </mat-chip-list>
</section>
<div class="Level-container">
<h4>Level</h4>
<mat-form-field>
  <mat-select
      placeholder="Select Game Level"
      [(value)]="selectedLevel"
    >
      <mat-option *ngFor="let level of levels" [value]="level.value">
        {{ level.viewValue }}
      </mat-option>
  </mat-select>
</mat-form-field>
</div>
<div>
  <br>
    <mat-form-field>
      <input
        matInput
        placeholder="Question Numbers"
        autocomplete="off"
        [(ngModel)]="questionNumber"
      />
    </mat-form-field>
</div>
<br>
<button mat-button
class="save-game"
(click)="saveGames()"
>Submit</button>
