<div class="Topic-container">
  <h4>Topic</h4>
<mat-form-field>
  <select matNativeControl required>
    <option value="Java">Java</option>
    <option value="Python">Python</option>
    <option value="Angular">Angular</option>
  </select>
    
</mat-form-field>
</div>
<div class="Level-container">
<h4>Level</h4>
<mat-form-field>
  <select matNativeControl required>
    <option value="Easy">Easy</option>
    <option value="Medium">Medium</option>
    <option value="Hard">Hard</option>
  </select>
</mat-form-field>
</div>
<div>
  <br>
  <form>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Number of Questions" type="number">
  </mat-form-field>
  </form>
</div>
<br>
<button mat-button
class="save-game"
(click)="saveGames()"
>Submit</button>
