<div class="container">
<mat-card class="example-card">
    
    <img mat-card-image src="../assets/1.jpg" alt="Photo of a Shiba Inu">
    
    <mat-card-actions>
      <!-- <mat-card-title>QUIZ</mat-card-title> -->
      <button mat-button>Play</button>
      <button mat-button>Details</button>
     
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    
        <img mat-card-image src="../assets/2.jpg" alt="Photo of a Shiba Inu">
        
        <mat-card-actions>
          <!-- <mat-card-title>QUIZ</mat-card-title> -->
          <button mat-button>Play</button>
          <button mat-button>Details</button> 
         
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
    
            <img mat-card-image src="../assets/3.png" alt="Photo of a Shiba Inu">
            
            <mat-card-actions>
              <!-- <mat-card-title>QUIZ</mat-card-title> -->
              <button mat-button>Play</button>
              <button mat-button>Details</button>
             
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
    
                <img mat-card-image src="../assets/6.jpg">
                
                <mat-card-actions>
                  <!-- <mat-card-title>QUIZ</mat-card-title> -->
                  <button mat-button>Play</button>
                  <button mat-button>Details</button>
                 
                </mat-card-actions>
              </mat-card>
              <mat-card class="example-card">
    
    <img mat-card-image src="../assets/1.jpg" alt="Photo of a Shiba Inu">
    
    <mat-card-actions>
      <!-- <mat-card-title>QUIZ</mat-card-title> -->
      <button mat-button>Play</button>
      <button mat-button>Details</button>
     
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    
        <img mat-card-image src="../assets/2.jpg" alt="Photo of a Shiba Inu">
        
        <mat-card-actions>
          <!-- <mat-card-title>QUIZ</mat-card-title> -->
          <button mat-button>Play</button>
          <button mat-button>Details</button>
         
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
    
            <img mat-card-image src="../assets/3.png" alt="Photo of a Shiba Inu">
            
            <mat-card-actions>
              <!-- <mat-card-title>QUIZ</mat-card-title> -->
              <button mat-button>Play</button>
              <button mat-button>Details</button>
             
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
    
                <img mat-card-image src="../assets/6.jpg">
                
                <mat-card-actions>
                  <!-- <mat-card-title>QUIZ</mat-card-title> -->
                  <button mat-button>Play</button>
                  <button mat-button>Details</button>
                 
                </mat-card-actions>
              </mat-card>
           </div>
           <div class="container">
                <mat-card class="example-card">
                    
                    <img mat-card-image src="../assets/1.jpg" alt="Photo of a Shiba Inu">
                    
                    <mat-card-actions>
                      <!-- <mat-card-title>QUIZ</mat-card-title> -->
                      <button mat-button>Play</button>
                      <button mat-button>Details</button>
                     
                    </mat-card-actions>
                  </mat-card>
                  <mat-card class="example-card">
                    
                        <img mat-card-image src="../assets/2.jpg" alt="Photo of a Shiba Inu">
                        
                        <mat-card-actions>
                          <!-- <mat-card-title>QUIZ</mat-card-title> -->
                          <button mat-button>Play</button>
                          <button mat-button>Details</button>
                         
                        </mat-card-actions>
                      </mat-card>
                      <mat-card class="example-card">
                    
                            <img mat-card-image src="../assets/3.png" alt="Photo of a Shiba Inu">
                            
                            <mat-card-actions>
                              <!-- <mat-card-title>QUIZ</mat-card-title> -->
                              <button mat-button>Play</button>
                              <button mat-button>Details</button>
                             
                            </mat-card-actions>
                          </mat-card>
                          <mat-card class="example-card">
                    
                                <img mat-card-image src="../assets/6.jpg">
                                
                                <mat-card-actions>
                                  <!-- <mat-card-title>QUIZ</mat-card-title> -->
                                  <button mat-button>Play</button>
                                  <button mat-button>Details</button>
                                 
                                </mat-card-actions>
                              </mat-card>
                              <mat-card class="example-card">
                    
                    <img mat-card-image src="../assets/1.jpg" alt="Photo of a Shiba Inu">
                    
                    <mat-card-actions>
                      <!-- <mat-card-title>QUIZ</mat-card-title> -->
                      <button mat-button>Play</button>
                      <button mat-button>Details</button>
                     
                    </mat-card-actions>
                  </mat-card>
                  <mat-card class="example-card">
                    
                        <img mat-card-image src="../assets/2.jpg" alt="Photo of a Shiba Inu">
                        
                        <mat-card-actions>
                          <!-- <mat-card-title>QUIZ</mat-card-title> -->
                          <button mat-button>Play</button>
                          <button mat-button>Details</button>
                         
                        </mat-card-actions>
                      </mat-card>
                      <mat-card class="example-card">
                    
                            <img mat-card-image src="../assets/3.png" alt="Photo of a Shiba Inu">
                            
                            <mat-card-actions>
                              <!-- <mat-card-title>QUIZ</mat-card-title> -->
                              <button mat-button>Play</button>
                              <button mat-button>Details</button>
                             
                            </mat-card-actions>
                          </mat-card>
                          <mat-card class="example-card">
                    
                                <img mat-card-image src="../assets/6.jpg">
                                
                                <mat-card-actions>
                                  <!-- <mat-card-title>QUIZ</mat-card-title> -->
                                  <button mat-button>Play</button>
                                  <button mat-button>Details</button>
                                 
                                </mat-card-actions>
                              </mat-card>
                           </div>
                           
           
          
   