
// img
// {
//    float:left;
//    padding-left : 2px;
//    left:5px;
//    top:1px;
//    width: 60px;
//    height:60px;
// }

.demo-panel {
   margin: 20px 0px;
}

mat-chip {
   cursor: pointer;
}

.mat-menu-panel {
   overflow-x: hidden;
}