.container {
  padding: 20px;
 }
 .container h1
 {
   text-align: center;
 
 }
 p {
     font-family: sans-serif;
     text-align: center;
 }
h3 {
  text-align: center;
  font-family: sans-serif;
}
.userid
{
  margin-top: 2%;
  margin-left: 40.5%;
  width: 20%;
  
}

.password{
  margin-left: 40.5%;  
  width: 20%;

}

.confirmpassword{
  margin-left: 40.5%;  
  width: 20%;

}
.email {

  margin-left: 40.5%;
  width: 20%;

}
.username {
  margin-left: 40.5%;
  width: 20%;

}
.button{

  margin-left: 50%;
  width: 20%;
  height: 100px;


}
.nextbtn {
  margin-left: 43%;
  width: 15%;

}

.mat-radio-button {
  margin-left: 16px;
 
  
}
.gender {
  margin-left: 42.5%;
  
}
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
.interests {

  margin-left: 40.5%;
  width: 20%;
}

// .btn:hover {
//   opacity: 1;
// }
// .btn {
//   color: white;
//   padding: 15px 20px;
//   border: none;
//   cursor: pointer;
//   width: 30%;
//   opacity: 0.9;
// }