mat-form-field{

    width: 500px;
    font-size: 15px;
    padding: 0px;
    padding-left: 500px;
   padding-top: 8px;
  color: black;
  size: 12px;
  top: -990px;
  
  }
  
  input{
    color:white;
    position: absolute;
    height:30px;
    width: 100%;
    font-size: 15px;
    bottom: 100px;
    background-color: black;
   
  
  }
  .box{
    padding-top: 0%;
    background-color:red;
    border-radius: 8px;
    
  }
  mat-icon{
    position: absolute;
    color: white;
    float: right;
    top: -125px;
    padding-left: 470px;
    
  
  }